:root {
  /* Background Colors */
  --color-bg: #ffffff; /* General Background color */

  /* Section Background Colors */
  --color-inspire-bg: #dfe8eb; /* Inspire section background */
  --color-sneaker-bg: #d4cac3; /* Men's Summer Sneaker section background */
  --color-latest-bg: #f3e1d1; /* Latest releases section background */
  --color-arrivals-bg: #c5d3e8; /* New Arrivals section background */

  /* Accent Colors */
  --color-primary: #dbe3df; /* Light green for accent sections */
  --color-secondary: #f3e1d1; /* Light peach for accent sections */
  --color-quinary: #c5d3e8; /* Light blue for accent sections */
  --color-black: #000000; /* Black for text and buttons */

  /* Text and Button Colors */
  --button-bg: #000000; /* Button background */
  --button-text: #ffffff; /* Button text color */
  --price-color: #000000; /* Price text color */
  --text-color: #000000; /* General text color */

  --font-family: "Poppins", sans-serif;

  /*index :root */
}

/* Apply a natural box layout model to all elements, allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* :root end*/

body {
  font-size: 1.6rem;
  line-height: 2;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

/* GLobals end */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

/* Utilities end */

/* Estilo del contenedor del header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: relative;
}

/* Estilo del contenedor de navegación */

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-between;
}

/* Estilo del logo */
.logo {
  text-decoration: none;
  font-family: var(--font-family);
}

.logo__name {
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
}

/* Estilo del contenedor de enlaces de navegación */
.nav-links {
  display: flex;
  gap: 15px;
}

/* Estilo de los enlaces de navegación */
.nav__a {
  font-size: 1.6 rem;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
  font-family: var(--font-family);
}

/* Estilo de los enlaces en hover */
.nav__a:hover {
  color: #007bff;
}

/* Estilo del icono */
.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-icon svg {
  fill: #000;
  cursor: pointer;
}

/* Index.html end*/
